body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #000 !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}
.main {
  width: 100%;
  width: auto;
}
.btn {
  background-color: #f20040;
  color: white;
  border: #f20040 1px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
}
